.megaMenu {
    min-width: 40rem; 
    animation-duration: 300ms; 
    display: none;
}

.megaMenuDocs{
    min-width: 20rem; 
    max-width: 20rem; 
    animation-duration: 300ms; 
    display: none;
}

.megaMenuLandings{
    min-width: 30rem; 
    animation-duration: 300ms; 
    display: none;
}

.megaMenuCompany{
    min-width: 14rem; 
    animation-duration: 300ms; 
    display: none;
}

.SVGShape{
    margin-top: 6.75rem;
}

.logIn{
    display: none; 
    opacity: 0;
}

.goTo{
    right: 2rem; 
    bottom: 2rem;
}
